body {
    margin : 0;
}

#nav {
    display : flex;
    justify-content : flex-end;
    margin-top: 15px;
}

#nav a {
    margin-right: 20px;
}

#nav a.topImage {
    width: 20px;
    height: 20px;
    background: rgb(202, 24, 24);
    border-radius: 10px;
}

#middle {
    margin-top: 300px;
}

#logo {
    text-align: center;
}

#searchbarcontainer {
    margin-top: 20px;
    text-align: center;
}

#searchbar {
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 0;
    width: 500px;
    border-radius: 15px;
    border: 2px solid rgb(230, 227, 227);
}

#buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background: rgb(236, 236, 236);
}

#links {
    margin-top: 20px;
    text-align: center;
}